@charset "UTF-8";


/* line 209, ../sass/application_list.scss */
.project-form {
    width: 400px;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

/* line 213, ../sass/application_list.scss */
.project-form .form-div {
    padding: 50px 20px;
}
/* line 215, ../sass/application_list.scss */
.project-form .form-div .btn {
    display: block;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #6cbb5a;
    color: #6cbb5a;
}
/* line 223, ../sass/application_list.scss */
.project-form h2 {
    border-bottom: 1px solid #6cbb5a;
    border-color: #dde0e6;
    padding: 10px;
    color: #778499;
}
/* line 228, ../sass/application_list.scss */
.project-form h2 span {
    font-size: 16px;
}
/* line 231, ../sass/application_list.scss */
.project-form h2 a {
    float: right;
    color: #778499;
}

/* line 238, ../sass/application_list.scss */
.progress-wrap {
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

/* line 243, ../sass/application_list.scss */
.upload-text {
    text-align: center;
    margin: 70px auto 30px auto;
}

/* line 247, ../sass/application_list.scss */
.find-box {
    text-align: center;
    line-height: 10px;
    color: #6cbb5a;
    display: inline-block;
    padding-top: 95px;
    font-size: 30px;
}


/* line 297, ../sass/application_list.scss */
.upload-img {
    width: 130px;
    height: 130px;
    line-height: 130px;
    background: url(/images/upload/rotate.png) no-repeat;
    display: block;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -65px;
    animation: myfirst 1s linear infinite;
    -moz-animation: myfirst 1s linear infinite;
    /* Firefox */
    -webkit-animation: myfirst 1s linear infinite;
    /* Safari 和 Chrome */
    -o-animation: myfirst 1s linear infinite;
}

@keyframes myfirst {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -moz-transform: rotate(0deg);
        /* Firefox */
        -webkit-transform: rotate(0deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(0deg);
        /* Opera */
    }
    25% {
        transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        /* IE 9 */
        -moz-transform: rotate(90deg);
        /* Firefox */
        -webkit-transform: rotate(90deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(90deg);
        /* Opera */
    }
    50% {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -moz-transform: rotate(180deg);
        /* Firefox */
        -webkit-transform: rotate(180deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(180deg);
        /* Opera */
    }
    75% {
        transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        /* IE 9 */
        -moz-transform: rotate(270deg);
        /* Firefox */
        -webkit-transform: rotate(270deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(270deg);
        /* Opera */
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        /* IE 9 */
        -moz-transform: rotate(360deg);
        /* Firefox */
        -webkit-transform: rotate(360deg);
        /* Safari 和 Chrome */
        -o-transform: rotate(360deg);
        /* Opera */
    }
}

