@charset "UTF-8";


/* 弹窗样式 */
/* line 152, ../sass/style.scss */
.pop {
    background: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 11;
}

/* line 163, ../sass/style.scss */
.pop-cont {
    position: fixed;
    left: 30%;
    top: 30%;
    z-index: 12;
    display: none;
}
