@charset "UTF-8";
/* line 5, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/* line 22, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
    line-height: 1;
}

/* line 24, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
    list-style: none;
}

/* line 26, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* line 28, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

/* line 30, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
    quotes: none;
}
/* line 103, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

/* line 32, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
    border: none;
}

/* line 116, ../../../../../../home/wzx/.rvm/gems/ruby-2.2.4/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/* line 6, ../sass/style.scss */
body, td, table, tr, div, p, span, ul, li, h1, h2, h3 {
    list-style: none;
    font-size: 14px;
    font-family: '微软雅黑';
    text-decoration: none;
}

/* line 12, ../sass/style.scss */
body {
    background-color: #f4f8f9;
}

/* line 15, ../sass/style.scss */
.container {
    font-size: 14px;
    width: 100%;
    padding: 0px;
}
/* line 21, ../sass/style.scss */
.container .contents {
    padding: 10px;
}
/* line 24, ../sass/style.scss */
.container .con-left {
    border-right: 1px solid #dde0e6;
    background: #fff;
    padding: 0px;
    position: fixed;
    height: 100%;
    top: 0px;
}
/* line 31, ../sass/style.scss */
.container .con-left h1 {
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #dde0e6;
}
/* line 35, ../sass/style.scss */
.container .con-left h1 span {
    display: inline-block;
}
/* line 38, ../sass/style.scss */
.container .con-left h1 .logo-center {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    text-align: center;
}
/* line 43, ../sass/style.scss */
.container .con-left h1 .logo-center img {
    vertical-align: middle;
}
/* line 49, ../sass/style.scss */
.container .con-left ul li {
    height: 70px;
    line-height: 70px;
    text-align: center;
}

/* line 63, ../sass/style.scss */
.container .con-left ul li.nav-icon11:hover a {
    color: #6cbb5a;
}
/* line 68, ../sass/style.scss */
.container .con-left ul li a {
    color: #778499;
    display: block;
    text-decoration: none;
}
/* line 73, ../sass/style.scss */
.container .con-left ul li:hover {
    border-left: 4px solid #778499;
}
/* line 80, ../sass/style.scss */
.container .con-right {
    float: right;
    padding: 0px;
    overflow: hidden;
}
/* line 84, ../sass/style.scss */
.container .con-right .content {
    min-height: 500px;
    z-index: 1;
    overflow: hidden;
    margin-top: 70px;
}
/* line 90, ../sass/style.scss */
.container .con-right .login {
    background: #fff;
    height: 70px;
    line-height: 70px;
    padding-right: 10px;
    border-bottom: 1px solid #dde0e6;
    text-align: right;
    position: fixed;
    top: 0px;
    width: 83.3333333%;
    z-index: 2;
}

/* line 136, ../sass/style.scss */
.app-table {
    border: 1px solid #dde0e6;
    color: #495261;
}

/* line 140, ../sass/style.scss */
.pbox15 {
    padding: 15px 0 0px 15px;
}

/* line 143, ../sass/style.scss */
.f12 {
    font-size: 12px;
}

/* line 146, ../sass/style.scss */
.fl {
    float: left;
}

/* line 147, ../sass/style.scss */
.mt10 {
    margin-top: 10px;
}

/* line 148, ../sass/style.scss */
.ml10 {
    margin-left: 10px;
}

/* line 149, ../sass/style.scss */
.oh {
    overflow: hidden;
}

/* line 150, ../sass/style.scss */
.mt20 {
    margin-top: 20px;
}

/* 弹窗样式 */
/* line 152, ../sass/style.scss */
.pop {
    background: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 11;
}

/* line 163, ../sass/style.scss */
.pop-cont {
    position: fixed;
    left: 30%;
    top: 30%;
    z-index: 12;
    display: none;
}

/* line 195, ../sass/style.scss */
.fntext2_notice_span {
    float: none;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/* line 201, ../sass/style.scss */
.fntext2_notice_x {
    color: white;
    font-size: 13px;
    padding: 3px 4px;
    float: right;
    font-family: 'Microsoft Yahei','微软雅黑',Tahoma,'Times New Roman',Arial,Helvetica,STHeiti;
}

/* line 208, ../sass/style.scss */
.fntext2_notice_x a {
    color: white;
}

/* line 211, ../sass/style.scss */
.pbox15 {
    padding: 15px 0 0px 15px;
}

/* line 214, ../sass/style.scss */
#fntext2_bingo {
    background: #00a730;
    padding: 3px 10px;
    width: 260px;
    height: 26px;
    position: fixed;
    z-index: 99999;
    left: 50%;
    margin-left: -135px;
    display: none;
}

/* line 227, ../sass/style.scss */
.return-top {
    height: 60px;
    line-height: 60px;
    box-shadow: 2px 2px 5px #d8d8d8;
    border-bottom: 1px solid #dde0e6;
    background: #fff;
}
/* line 232, ../sass/style.scss */
.return-top .return-right {
    float: left;
    padding-left: 20px;
    height: 60px;
}
/* line 237, ../sass/style.scss */
.return-top .return-box {
    width: 60px;
    height: 60px;
    border-right: 1px solid #dde0e6;
    padding-top: 20px;
    float: left;
}

/* line 257, ../sass/style.scss */
.appl-name {
    padding: 5px 0 0 30px;
    overflow: hidden;
}
/* line 260, ../sass/style.scss */
.appl-name dt {
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    float: left;
}
/* line 267, ../sass/style.scss */
.appl-name dt img {
    display: block;
    max-width: 30px;
    max-height: 30px;
}
/* line 273, ../sass/style.scss */
.appl-name dd {
    float: left;
    line-height: 50px;
    padding-left: 10px;
    color: #333333;
    font-size: 12px;
}

/* line 282, ../sass/style.scss */
.guide-pop {
    background: #000;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 11;
}

/* line 293, ../sass/style.scss */
.guide-close {
    width: 30px;
    height: 29px;
    position: fixed;
    z-index: 12;
    right: 5%;
    top: 4%;
}


/* line 317, ../sass/style.scss */
.button-next.right {
    right: 0;
    bottom: 0;
}
/* line 321, ../sass/style.scss */
.button-next.bottom {
    bottom: 0;
    left: 50%;
    margin-left: -105px;
}
/* line 325, ../sass/style.scss */
.button-next.bottom.ml {
    margin-left: -45px;
}

/* line 330, ../sass/style.scss */
.guide-cont {
    width: 731px;
    height: 467px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -225px;
    z-index: 13;
}

/* line 340, ../sass/style.scss */
.box-guide {
    display: none;
}
/* line 342, ../sass/style.scss */
.box-guide.show {
    display: block;
}

/* line 346, ../sass/style.scss */
.page-main {
    display: table;
    margin: 0 auto;
}

/* line 494, ../sass/style.scss */
.upload {
    position: relative;
}
/* line 496, ../sass/style.scss */
.upload a {
    display: block;
    color: #fff;
}

/* line 502, ../sass/style.scss */
.url-a {
    display: inline-block;
    color: #333;
}

/* line 506, ../sass/style.scss */
.select-applist-box {
    position: relative;
    width: auto;
    height: 46px;
    margin: 5px 0;
    padding-right: 20px;
    border-right: 1px solid #e5e6e9;
}

/* line 514, ../sass/style.scss */
.icon-single {
    position: absolute;
    bottom: 100%;
    left: 12px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 8px solid transparent;
}

/* line 524, ../sass/style.scss */
.select-applist-box .icon-single {
    top: 50%;
    right: 16px;
    left: auto;
    margin-top: 0;
    border-top: 8px solid #3a99ff;
}

/* line 531, ../sass/style.scss */
.select-applist-box:hover .icon-single {
    margin-top: -12px;
    border: 8px dashed transparent;
    border-bottom: 8px solid #3a99ff;
}

/* line 536, ../sass/style.scss */
.select-applist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: -1px;
    padding-top: 5px;
    border-bottom: 1px solid #e5e6e9;
    background: #fff;
}

/* line 551, ../sass/style.scss */
.select-applist-item {
    display: block;
    height: 60px;
    padding: 14px 34px 10px 50px;
    white-space: nowrap;
    cursor: pointer;
}

/* line 558, ../sass/style.scss */
.selected-item {
    padding: 8px 50px;
}

/* line 561, ../sass/style.scss */
.select-applist-item img {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

/* line 568, ../sass/style.scss */
.select-applist-item b {
    display: block;
    height: 30px;
    overflow: hidden;
    padding-left: 8px;
    font-size: 14px;
    line-height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 400;
    float: left;
}

/* line 580, ../sass/style.scss */
.select-applist-item b.app-name {
    width: 100px;
}

/* line 583, ../sass/style.scss */
.selected-item b.app-name {
    max-width: 150px;
    min-width: 90px;
    width: auto;
}

/* line 588, ../sass/style.scss */
.select-applist-item b.app-version {
    width: 60px;
}

/* line 591, ../sass/style.scss */
.selected-item b.app-version {
    max-width: 80px;
    min-width: 60px;
    width: auto;
}

/* line 596, ../sass/style.scss */
.selected-item s {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -8px;
    width: 18px;
    height: 22px;
    vertical-align: -6px;
}

/* line 605, ../sass/style.scss */
.select-applist-item > s {
    width: 18px;
    height: 22px;
}

/* line 609, ../sass/style.scss */
.app-list-icon {
    position: absolute;
    right: 42px;
    margin: 3px 0;
}

/* line 614, ../sass/style.scss */
.list-android-icon {
    background-position: -170px -140px;
}

/* line 617, ../sass/style.scss */
.list-ios-icon {
    background-position: -150px -140px;
}

/* line 620, ../sass/style.scss */
.select-applist-box:hover .select-applist {
    display: block;
}

/* line 623, ../sass/style.scss */
.select-applist-box:hover:before {
    border-top: none;
    border-bottom: 8px solid #3a99ff;
}

/* line 627, ../sass/style.scss */
.select-applist .select-applist-item {
    border-right: 1px solid #e5e6e9;
    border-left: 1px solid #e5e6e9;
    color: #444;
}

/* line 632, ../sass/style.scss */
.select-applist .select-applist-item:hover {
    border: none;
    background: #2e7fec;
    color: #fff;
}

/* line 643, ../sass/style.scss */
.app-add-icon {
    width: 22px;
    height: 22px;
    margin: 17px 14px;
    background-position: -180px -210px;
    cursor: pointer;
}

/* line 650, ../sass/style.scss */
.app-add-icon:hover {
    background-position: -150px -210px;
}

/* line 654, ../sass/style.scss */
.list-left {
    height: 100%;
    overflow: hidden;
    padding: 0 0 10px 0;
}
/* line 658, ../sass/style.scss */
.list-left ul {
    margin-bottom: 70px;
}

/* line 662, ../sass/style.scss */
.select-fr {
    float: right;
}
